.chatwrapper{
    background-color: #45543b;
    border-radius: 5px;
    width: 40%;
}
.chat{
    margin: 0.4rem;
    padding: 0.3rem;
    background-color: white;
    width: fit-content;
    border-radius: 7px;
}
#chat-messages{
    height: 350px;
    overflow-y: auto;
}

#chat-message-input {
    border: none;
    border-radius: 5px;
    height: 1.3rem;
    width: 12rem;
}
#chat-message-submit{
    width:4.2rem ;
    height: 1.3rem;
    border: none;
    border-radius: 5px;
}

